@import "./global.scss";
@import "./constants.scss";

.add-country-wrapper {
  position: relative;
  margin-top: 15px;
  .add-country {
    display: flex;
    .add-button {
      color: $link;
    }
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .add-country {
    justify-content: space-between;
  }
}
