.mobile-view-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    .mobile-content-wrapper {
        position: relative;
        height: 100%;
        overflow: scroll;
    }
}
