@import "../constants.scss";

.about-wrapper {
    padding-top: $padding-from-top-bar;
    overflow: scroll;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .my-image {
        width: 300px;
    }
    p {
        margin: 20px;
        text-align: center;
        max-width: 500px;
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .about-wrapper {
        .my-image {
            width: 200px;
        }
    }
}
