@font-face {
  font-family: BluuNext;
  src: url(./assets/fonts/BluuNext-Bold.otf);
}

body {
  margin: 0;
  font-family: BluuNext;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
